*{
  font-family: "Greta Sans Medium","Greta Sans Regular",Arial,sans-serif;
}
body{
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}
.container-80{
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
.container-50{
  width: 50%;
}

.active{
  color: blue;
  border-bottom: 5px solid blue;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}